* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
}

.circle {
    background: #fff;
    border: 1px solid #999;
    float: left;
    height: 34px;
    width: 34px;
    border-radius: 100%;
    margin-right: 10px;
    margin-bottom: 5px;
}

.circle:hover {
    border: 2px solid black;
}

.circle.red {
    background: #FF0000;
    border: 1px solid #999;
    float: left;
    height: 34px;
    width: 34px;
    border-radius: 100%;
    margin-right: 10px;
    margin-bottom: 5px;
}

.circle.yellow {
    background: #FFFF00;
    border: 1px solid #999;
    float: left;
    height: 34px;
    width: 34px;
    border-radius: 100%;
    margin-right: 10px;
    margin-bottom: 5px;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
  }